In [18]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from os import listdir

In [3]:
df1 = pd.read_csv('D:\\ECG_cleaned\\008-5.csv')

In [4]:
df1.head()

   # ECG Channel 1
0         0.000087
1         0.000095
2         0.000103
3         0.000109
4         0.000128

In [5]:
df1.shape

(21684800, 1)

In [19]:
mapping_df = pd.read_csv('mapping.csv')

In [20]:
mapping_df

     usubjid  timepoint  class  ablett_score     file
0    003-009          1      1             3    009-1
1    003-011          1      1             3    011-1
2    003-013          1      1             3    013-1
3    003-014          1      1             3    014-1
4    003-017          1      0             2    017-1
..       ...        ...    ...           ...      ...
171  003-106          5      0             1  106-5.2
172  003-107          5      1             4    107-5
173  003-108          5      0             2    108-5
174  003-109          5      1             3    109-5
175  003-110          5      1             3    110-5

[176 rows x 5 columns]

In [21]:
def string_to_path(data_file, index):
    df = pd.read_csv('D:\\ECG_cleaned\\{}'.format(data_file))
    return str(df.shape[index])

In [22]:
import os.path

def is_file_exist(file_path):
    if os.path.isfile('D:\\ECG_cleaned\\{}'.format(file_path)):
        return True
    else:
        return False

In [23]:
mapping_df['Exist'] = mapping_df.apply(lambda row: is_file_exist(row['file'] + ".csv"), axis = 1)

In [24]:
mapping_df[mapping_df['Exist'] == False]

Empty DataFrame
Columns: [usubjid, timepoint, class, ablett_score, file, Exist]
Index: []

In [25]:
mapping_df['Size Y'] = mapping_df.apply(lambda row: string_to_path(row['file'] + ".csv", 0), axis = 1)
mapping_df['Size X'] = mapping_df.apply(lambda row: string_to_path(row['file'] + ".csv", 1), axis = 1)

In [30]:
mapping_df.to_csv("Estimated.csv", index=False)

In [27]:
mapping_df

     usubjid  timepoint  class  ablett_score     file  Exist    Size Y Size X
0    003-009          1      1             3    009-1   True  39115904      1
1    003-011          1      1             3    011-1   True  23209536      1
2    003-013          1      1             3    013-1   True  20689408      1
3    003-014          1      1             3    014-1   True  18001344      1
4    003-017          1      0             2    017-1   True  25007232      1
..       ...        ...    ...           ...      ...    ...       ...    ...
171  003-106          5      0             1  106-5.2   True  35760064      1
172  003-107          5      1             4    107-5   True  17936064      2
173  003-108          5      0             2    108-5   True  20272064      2
174  003-109          5      1             3    109-5   True  24784064      2
175  003-110          5      1             3    110-5   True  25968064      2

[176 rows x 8 columns]